<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<!--此处即是一个数组，既是三个医生的信息-->
{{#datas}}
<div class="doctor clear" code="{{id}}">
	<div class="img-container float-l pad-all-20">
		<img class="" src="/xijing/project/resource/images/{{img}}.png">
	</div>
	<div class="float-l info mar-t-20">
		<div class="name lineh30 font-w-b">{{name}}</div>
		<div class="level lineh30 font12">{{level}}</div>
		<div class="person-desc lineh30 font13"><span class="font-w-b">特长：</span>{{desc}}</div>
	</div>
	<div class="float-l schedule mar-t-20"></div>
</div>
{{/datas}}